.progress {
  &__bar {
    position: relative;
    width:313px;
    height:75px;
    background-position: -0px -132px;
  }

  &__bar-wrapper {
    position: absolute;
    top: 17px;
    left: 13px;
    width: 290px;
    height: 45px;
  }

  &__line {
    height: 45px;
    background: linear-gradient(to bottom, rgb(0, 153, 200) 0%,rgb(161, 193, 221) 30%,rgb(0, 153, 200) 39%,rgb(9, 49, 77) 100%);
    border-radius: 11px;
  }

  &__amount {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    font-size: 33px;
    text-shadow:
		-0   -2px 0   #A12D00,
		 0   -2px 0   #A12D00,
		-0    2px 0   #A12D00,
		 0    2px 0   #A12D00,
		-2px -0   0   #A12D00,
		 2px -0   0   #A12D00,
		-2px  0   0   #A12D00,
		 2px  0   0   #A12D00,
		-1px -2px 0   #A12D00,
		 1px -2px 0   #A12D00,
		-1px  2px 0   #A12D00,
		 1px  2px 0   #A12D00,
		-2px -1px 0   #A12D00,
		 2px -1px 0   #A12D00,
		-2px  1px 0   #A12D00,
		 2px  1px 0   #A12D00,
		-2px -2px 0   #A12D00,
		 2px -2px 0   #A12D00,
		-2px  2px 0   #A12D00,
		 2px  2px 0   #A12D00,
		-2px -2px 0   #A12D00,
		 2px -2px 0   #A12D00,
		-2px  2px 0   #A12D00,
     2px  2px 0   #A12D00;
     transform: translate(-50%, -50%);
  }

  &__key {
    position: absolute;
    top: -25px;
    right: -61px;
    width:105px;
    height:113px;
    background-position: -153px -211px;
  }
}